@model Region.Models.Country

@*@model IEnumerable<Region.Models.Country>
*@


<div class="col-4 offset-5" id="CreateUser">
    <form method="post" asp-action="AddCountry">

        <label>
            Country Name:

            <input type="text" asp-for=CountryName placeholder="Enter Country Name" />
        </label>
        <span asp-validation-for="CountryName" class="text-danger"></span>

        <div class="m-3 text-center" style="margin-right: 131px  !important;">
            <button type="submit" class="btn btn-primary text-center">Add</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="AddCountry">Cancel</a>

        </div>
    </form>
</div>


@{
    <div class="container">
        <div class="row">

            <table class="table table-bordered " id="tableUser">
                <tr>
                    <th>countryId</th>
                    <th>countryname</th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in ViewBag.Country)
                {
                    <tr>
                        <td>@item.CountryId</td>
                        <td>@item.CountryName</td>
                        <td>
                            <a class=" btn btn-warning m-1" asp-action="EditCountry" asp-route-id="@item.CountryId">Edit</a>
                            <a class=" btn btn-danger m-1" asp-action="DeleteCountry" asp-route-id="@item.CountryId">Delete</a>
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>

}

@*<div id=" EditUser">
    <form>
        <input type="text" asp-for="CountryId" hidden readonly id="IdEdit" />
        <label>
            Country Name:

            <input type="text" asp-for=CountryName placeholder="Enter Country Name" id="NameEdit" name="NameEdit" />
        </label>
        <span asp-validation-for="CountryName" class="text-danger"></span>

        <div class="m-3 text-center" style="margin-right: 131px  !important;">
            <button type="submit" class="btn btn-primary text-center" id="btnSaveEdit">Update</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="AddCountry">Cancel</a>

        </div>
    </form>
</div>

@section scripts
    {
    <script type="text/javascript">

        function EditUser(Id) {
            $.get("/Country/EditUserJ", { Id: Id }, function (data) {              //fetching data of the selected user from controller
                if (data != null) {
                    $("#tableUser").hide();
                    $("#CreateUser").hide();
                    $("#EditUser").show();

                    //data contains the details of the user
                    // now showing those details in the textbox

                    $("#NameEdit").val(data.CountryName);
                }
            });
        }


        $("#btnSaveEdit").click(function () {
            var objUser = {};                      //same action as per creating the user
            objUser.CountryName = $("#NameEdit").val();
            $.post("/Country/EditUserJ", { objUser: objUser }, function (data) {
                if (data != null) {
                    location.reload();
                    alert("User Edited");
                }
                else {
                    alert("Error");
                }
            });
        })

    </script>
}
*@

