@model Region.Models.State

@{
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

<div class="col-4 offset-5">
    <form method="post" asp-action="UpdateState">

        <input type="hidden" asp-for=StateId  readonly />

        <div class="mb-2">
            <label> Country: </label>
            <select asp-for="CountryId" asp-items="ViewBag.countryList" style="width: 183px; margin-bottom: 10px;">
                <option>Select Country</option>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </select>
        </div>

        <div class="mb-2">
            <label> State:</label>
            <input type="text" asp-for="StateName" placeholder="Enter State Name" style="margin-left: 17px;" />
            <span asp-validation-for="StateName" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <p class="text-danger" id='message'> @errorMessage</p>
            }
        </div>


        <div class="m-3 text-center" style="margin-right: 131px  !important;">

            <button type="submit" class="btn btn-primary text-center">Update</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="AddState">Cancel</a>

        </div>
    </form>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        setTimeout(function () {
            $('#message').hide(3000);
        });
    </script>
}

